<div class="explain">
  <p>sweet.  a text will be sent to <span><%= @user.name %></span>, at <span><%= @user.phonenumber %></span> with upcoming election info.</p>
  <p>election ids: <%= @election_ids.each { |e| e } %></p>
  <%= link_to "another address", new_user_path %>
</div>
