<div class="containter">

  <p>sweet.  we will text <%= @user.name %>, at <%= @user.phonenumber %>, and tell you when the next election is!</p>

  <%= link_to "another address", new_user_path %>
</div>
