.all {
  position: relative;
}

div.container {
  margin: 3em;
  margin-top: 1.5em;
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  display: inline-block;
}

div.explain {
  float: left;
  margin: 3em;
  margin-top: 1.5em;
  margin-right: -2em;
  margin-bottom: 0;
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  width: 270px;
}

div.heading {
  background-color: black;
  padding: 1px;
}

h1 {
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  margin: 0;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 27px;
  color: white;
  display: inline-block;
}

li {
  width: 100%;
  display: inline;
  margin: 0;
  padding: 0;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

h3 {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  color: white;
}

a {
  color: teal;
}

a:hover {
  color: red;
}

p {
  margin-bottom: 10px;
}

span {
  color: rgba(50,50,50,.4);
}

input[type="text"], input[type="submit"] {
  padding: 4px;
  border-radius: .3em;
  box-shadow: none;
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  font-size: 15px;
  margin-bottom: 9px;
  color: rgba(50,50,50,.4);
}

input[type="text"] {
  height: 100%;
  width: 100%;
  padding-top: 7px;
  font-size: 15px;
  line-height: 0;
  margin: .4em;
}

input[type="submit"] {
  color: black;
  border-left: 0;
  border: 1px solid #ccc;
  background-color: white;
  padding: 6px;
  outline: none;
  margin-right: 27%;
  margin-left: 27%;
  position: absolute;
}

label {
  margin-bottom: 2px;
  border: 1px solid #ccc;
  border-radius: .3em;
  padding: .4em;
  padding-bottom: 2em;
  margin-bottom: -2em;
}

div.new_user {
  position: relative;
  margin-top: 0;
}

form {
  position: relative;
}

@media only screen and (max-width: 320px) {
  input[type="submit"] {
    margin-right: 23%;
    margin-left: 23%;
  }

  p {
  /*margin-bottom: 5px;*/
  }
}
