div.container {
  margin: 4em;
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  margin-top: 2em;
}

h1 {
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  margin-left: 64px;
  margin-top: 30px;
  font-size: 47px;
}

h3 {
  margin-left: 50px;
  font-size: 24px;
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
}

a {
  color: teal;
}

a:hover {
  color: red;
}

input[type="text"], input[type="submit"] {
  padding: 4px;
  border-radius: .3em;
  box-shadow: none;
  font-family: "futura-pt", futura, helvetica, arial, sans-serif;
  font-size: 15px;
  margin-bottom: 9px;
  color: gray;
}

input[type="text"] {
  height: 100%;
  width: 50%;
  padding-top: 7px;
  font-size: 15px;
  line-height: 0;/
}

input[type="submit"] {
  color: black;
  border-left: 0;
  margin-left: 0;
  border: 1px solid #ccc;
  background-color: white;
  padding: 6px;
  outline: none;
  margin-left: 18.5%;
  margin-right: 18.5%;

}


label {
  margin-bottom: 2px;
}

