<!DOCTYPE html>
<html>
<head>
  <title>GetVoteText</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/foundation.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">

</head>
<header class="all">
  <nav class="heading top-bar">
    <ul>
      <li>
        <h1>untitled vote text project</h1>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="wrapper">
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    <div class="push"></div>
  </div>
  <div class="footer">
    <div class="row text-center">
      <footer>made by <a href="https://github.com/vipyne">vipyne</a></footer>
    </div>
  </div>
</body>

</html>
