<!DOCTYPE html>
<html>
<head>
  <title>GetVoteText</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/foundation.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">

</head>
<body class="all">
  <h1> untitled vote text project</h1>
  <h3> {working with Google Civic Info and Twilio APIs}</h3>

<%= yield %>

</body>
</html>
